<h2> Welcome new user! Please add details to sign up. </h2>

<p><%= @error %></p>



<form action="/signup" method="post">

<p><input type="text" name="first_name" placeholder="Please insert your first name" size="50"></p>

<p><input type="text" name="last_name" placeholder="Please insert your last name" size="50"></p>

<p><input type="text" name="username" placeholder="Please choose a username" size="50"></p>

<input type="text" name="email" placeholder="Please insert your email" size="50"></p>

<p><input type="password" name="password" placeholder="Please choose a password" size="50"></p>

<p><input type="submit" value="Sign up" ></p>

</form>
