<h2> Something went wrong, the username and passwords entered do not match. Please enter the correct user name and password to access your account. </h2>

<form action="/signup" method="post">

<p><input type="text" name="first_name" placeholder="Please insert your first name" size="50"></p>

<p><input type="text" name="last_name" placeholder="Please insert your last name" size="50"></p>

<p><input type="text" name="username" placeholder="Please choose a username" size="50"></p>

<input type="text" name="email" placeholder="Please insert your email" size="50"></p>

<p><input type="password" name="password" placeholder="Please choose a password" size="50"></p>

<p><input type="submit" value="Sign up" ></p>

</form>