<h2> Welcome user! Please sign in to access your account. </h2>

<form action="/signin" method="post">

<p><input type="text" name="username" placeholder="Enter your username" size="50"></p>

<p><input type="password" name="password" placeholder="Enter your password" size="50"></p>

<p><input type="submit" value="Sign in" ></p>

<p> If You do not have an account, please sign up <a href="/signup">here</p>    

</form>