<h2> Welcome new user! Please add details to sign up. </h2>

<form action="/signup" method="post">
<p><input type="text" name="username" placeholder="Please insert username"></p>

<input type="text" name="email" placeholder="Please insert email"></p>

<p><input type="password" name="password" placeholder="Please insert password"></p>

<p><input type="submit" value="Sign up" ></p>

</form>