
<h2> Here are your current outstanding expenses </h2>

<%@expenses.each do |expense|%>
<a href= expenses/<%=expense.id%> <p><%= expense.title %>: $<%= expense.amount %> </p>
<%end%>

<p> <a href="/expenses/new">Create New Expense </p>
<p> <a href="/logout">log out </p>


    