<h2> Create new Expense </h2>

<p><%= @error %></p> 

<form action='/expenses' method="post">

<p><input type="text" name="title" placeholder="Please insert the expense title" size="50"></p>

<p><input type="text" name="amount" placeholder="Please insert the expense amount" size="50"></p>

<p><input type="submit" value="create expense" ></p>

</form>