<h3><%= @expense.title %></h3gig>
<p><%= @expense.amount %></p>
<p><form action="/expenses/<%=@expense.id%>/edit" method="get">
      <input type="submit" value="update expense" >
</form></p>

<p><form action="/expenses/<%=@expense.id%>" method="post">
<input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete expense" ></p>

</form>